*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    height:100%;
    font-family:Arial, sans-serif;
}

.page{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

header{
    padding:20px;
}

main{
    flex:1;
    display:grid;
    grid-template-columns:80px 1fr 80px;
    gap:20px;
    padding:20px;
}

.carousel{
    display:grid;

    /* Yazı resimden biraz daha geniş */
    grid-template-columns:1fr 1.15fr;

    gap:30px;
    align-items:center;
}

.image-container{
    width:100%;
}

.image-container img{
    width:100%;
    height:auto;
    display:block;
    border-radius:12px;
}

.text-container h2{
    font-size:3rem;
    margin-bottom:15px;
}

.text-container p{
    font-size:1.2rem;
    line-height:1.6;
}

.nav-btn{
    border:none;
    background:#ececec;
    cursor:pointer;
    font-size:3rem;
    border-radius:12px;
    transition:.2s;
}

.nav-btn:hover{
    background:#dcdcdc;
}

footer{
    padding:15px 20px;
    border-top:1px solid #ccc;
}
